* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Caveat Brush', cursive;
  display: flex;
  height: 100vh;
}


/*================================ barre latéral gauche ==================================*/


header {
  height: 100vh;
  width: 20%;
  background-color: #2f2d36;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

h1 {
  color: #00ad74;
  font-family: 'Caveat Brush', cursive;
  font-size: 350%;
}


/*================================ fin barre latéral gauche ==================================*/



/*!================================ contenu principal ==================================*/

section {
  height: 100vh;;
  width: 80%;
}


/*========================== barre nav du haut ==============================*/

nav {
  height: 15vh;
  width: 100%;
  background-color: #25242b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 0px 10px black;
  color: #00ad74;
  font-size: 230%;
  z-index: 10;
}

/*=================== champs de saisie ========================*/

.form {
  width: 40%;
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

    .todo-input {
      width: 70%;
      color: #00ad74;
      height: 30px;
      border: none;
      font-family: 'Caveat Brush', cursive;
      background-color: #2c313d;
    }

        .todo-input:focus {
          outline: none;
        }

    .todo-input::placeholder {
      color: #00ad74;
      font-size: 120%;
    }

    .todo-button {
      padding: 5px;
      font-size: 50%;
      border: none;
      background-color: #2c313d;
      height: 30px;
      color: #00ad74;
      cursor: pointer;
      transition: all 0.3s ease;
    }

        .todo-button:hover {
          color: #2c313d;
          background: #00ad74;
        }

/*=================== fin champs de saisie ========================*/

/*========================== fin barre nav du haut ==============================*/



/*======================== image de fond ==========================*/

#colonnes {
  display: flex;
  height: 85vh;
  width: 100%;
  background-color: #0000005e;
}

#colonnes::before {
  content: "";
  background-image: url("../img/bloc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 15vh;
  right: 0px;
  bottom: 0px;
  left: 20%;
  opacity: 0.1;
  z-index: -50;
  height: 85vh;
  width: 80%;
}

/*======================== fin image de fond ==========================*/



/*======================== colonne de gauche ==========================*/

.gauche {   /*=== colonne de gauche ====*/
  display: flex;
  align-items: center;
  height: 85vh;
  width: 50%;
  flex-direction: column;
  border-right: 1px solid black;
  
}

    h2 {  /*=== titre 'a faire' et 'fait' des deux colonnes ====*/
      height: 50px;
      display: flex;
      justify-content: center;
      width: 70%;
      margin-top: 20px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.617);
      font-size: 180%;
    }

        .todo-cont {   /*=== bloc dans lequel on range les tâches non faites ====*/
          width: 95%;
          display: block;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          
        }

            .todo {   /*=== bloc contenant: tâche + boutons + icones  ====*/
              max-width: 90%;
              margin: 5%;
              color: black;
              display: flex;
              justify-content: space-between;
              align-items: center;
              transition: all 0.5s ease;
              gap: 15px;
            }

                .tache {    /*=== texte de la tâche ====*/
                  width: 100%;
                  font-size: 130%;
                  display: block;
                  text-align: center;
                  
                }

                    .action {  /*=== Bloc des boutons ====*/
                      display: flex;
                    }

                        .trash-btn,   /*=== Boutons ====*/
                        .complete-btn,
                        .modif-btn {
                          background-color: rgba(0, 158, 26, 0);
                          color: rgb(216, 0, 0);
                          border: none;
                          padding: 5px;
                          cursor: pointer;
                          font-size: 100%;
                        }

                        .complete-btn {
                          color: rgb(0, 161, 22);
                        }

                        .modif-btn {
                          color: rgb(0, 100, 231);
                        }

                        

/*======================== fin colonne de gauche ==========================*/



/*======================== colonne de droite ==========================*/

.droite {   /*=== colonne de droite ====*/
  display: flex;
  align-items: center;
  height: 85vh;
  width: 50%;
  flex-direction: column;
}

.fait {  /*=== bloc dans lequel on range les tâches faites ====*/
  width: 95%;
}

/*======================== fin colonne de gauche ==========================*/

/*!================================ contenu principal ==================================*/




/*!================================ responsive ==================================*/

/*================================ responsive telephone ==================================*/

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

  body {
    height: 100vh;
    display: block;
  }

  /*================================ barre latéral gauche ==================================*/


header {
  display: flex;
  height: 10vh;
  width: 100vw;
  flex-direction: column;
  position: relative;
  z-index: 20;
}

h1 {
  font-size: 280%;
}


/*================================ fin barre latéral gauche ==================================*/



/*!================================ contenu principal ==================================*/

section {
  height: 100vh;
  width: 100vw;
}


/*========================== barre nav du haut ==============================*/

nav {
  height: 15vh;
  width: 100vw;
  font-size: 200%;
  z-index: 10;
}

/*=================== champs de saisie ========================*/

.form {
  width: 70%;
}

    .todo-input {
      width: 70%;
      height: 30px;
    }

    .todo-input::placeholder {
      color: rgba(0, 0, 0, 0.342);
      font-size: 120%;
    }

    .todo-button {
      font-size: 50%;
      height: 30px;
    }

/*=================== fin champs de saisie ========================*/

/*========================== fin barre nav du haut ==============================*/



/*======================== image de fond ==========================*/

#colonnes {
  display: block;
  height: 85vh;
}

#colonnes::before {
  top: 25vh;
  height: 85vh;
}

/*======================== fin image de fond ==========================*/



/*======================== colonne de gauche ==========================*/

.gauche {   /*=== colonne de gauche ====*/
  height: 42.5vh;
  width: 100vw;
  border: none;
}

h2 {  /*=== titre 'a faire' et 'fait' des deux colonnes ====*/
  height: 30px;
  font-size: 140%;
  margin-bottom: 10px;
  margin-top: 30px;
}

    .todo-cont {   /*=== bloc dans lequel on range les tâches non faites ====*/
      max-width: 100%;
      max-height: 60vh;
      display: flex;
      overflow: auto;
      scrollbar-color: #A6A5A4 #decfc8;
    }

        .todo {   /*=== bloc contenant: tâche + boutons + icones  ====*/
          margin: 0;
          max-height: auto;
          max-width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.342);
        }


            .tache {    /*=== texte de la tâche ====*/
              margin-top: 10px;
              margin-bottom: 10px;
              height: auto;
              flex-wrap: wrap;
              width: auto;
              font-size: 100%;
              display: block;
              text-align: end;
              overflow: auto;
              scrollbar-color: #A6A5A4 #decfc8;
            }

                .action {  /*=== Bloc des boutons ====*/
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }

/*======================== fin colonne de gauche ==========================*/



/*======================== colonne de droite ==========================*/

.droite {   /*=== colonne de droite ====*/
  height: 42.5vh;
  width: 100vw;
}

.fait {
  width: 100%;
  overflow: scroll;
  scrollbar-color: #A6A5A4 #decfc8;
}

/*======================== fin colonne de gauche ==========================*/

/*!================================ fin contenu principal ==================================*/

/*================================ fin responsive telephone ==================================*/

}



/*================================ responsive tablette ==================================*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body {
    height: 100vh;
    display: block;
  }

  /*================================ barre latéral gauche ==================================*/


header {
  display: flex;
  height: 10vh;
  width: 100vw;
  flex-direction: column;
  position: relative;
  z-index: 20;
}

h1 {
  font-size: 280%;
}


/*================================ fin barre latéral gauche ==================================*/



/*!================================ contenu principal ==================================*/

section {
  height: 100vh;
  width: 100vw;
}


/*========================== barre nav du haut ==============================*/

nav {
  height: 15vh;
  width: 100vw;
  font-size: 200%;
  z-index: 10;
}

/*=================== champs de saisie ========================*/

.form {
  width: 70%;
}

    .todo-input {
      width: 70%;
      height: 30px;
    }

    .todo-input::placeholder {
      color: rgba(0, 0, 0, 0.342);
      font-size: 120%;
    }

    .todo-button {
      font-size: 50%;
      height: 30px;
    }

/*=================== fin champs de saisie ========================*/

/*========================== fin barre nav du haut ==============================*/



/*======================== image de fond ==========================*/

#colonnes {
  display: block;
  height: 85vh;
}

#colonnes::before {
  top: 25vh;
  height: 85vh;
}

/*======================== fin image de fond ==========================*/



/*======================== colonne de gauche ==========================*/

.gauche {   /*=== colonne de gauche ====*/
  height: 42.5vh;
  width: 100vw;
  border: none;
}

    h2 {  /*=== titre 'a faire' et 'fait' des deux colonnes ====*/
      height: 30px;
      font-size: 140%;
      margin-bottom: 10px;
      margin-top: 30px;
    }

        .todo-cont {   /*=== bloc dans lequel on range les tâches non faites ====*/
          max-width: 100%;
          max-height: 60vh;
          display: flex;
          overflow: auto;
          scrollbar-width: thin;
          scrollbar-color: #A6A5A4 #decfc8;
        }

            .todo {   /*=== bloc contenant: tâche + boutons + icones  ====*/
              margin: 0;
              max-height: auto;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-bottom: 1px solid rgba(0, 0, 0, 0.311);
            }

                .tache {    /*=== texte de la tâche ====*/
                  margin-top: 10px;
                  margin-bottom: 10px;
                  max-height: auto;
                  flex-wrap: wrap;
                  width: auto;
                  font-size: 100%;
                  display: block;
                  text-align: end;
                }

                    .action {  /*=== Bloc des boutons ====*/
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }

/*======================== fin colonne de gauche ==========================*/



/*======================== colonne de droite ==========================*/

.droite {   /*=== colonne de droite ====*/
  height: 42.5vh;
  width: 100vw;
  border: none;
}

.fait {
  max-width: 100%;
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  scrollbar-color: #A6A5A4 #decfc8;
}


/*======================== fin colonne de gauche ==========================*/

/*!================================ fin contenu principal ==================================*/

}

  /*================================ fin responsive tablette ==================================*/


/*!================================ fin responsive ==================================*/
